body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

.btn {
    align-items: center;
}

#widget_container {
    background-color: black;
}

